

@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


.container {
  height: 80px;
  position: relative;
  border: 3px solid transparent;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


html {
  background: url(0.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

footer {

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #314249;
  text-align: center;
}

.centerDiv  {

  text-align: center;
}

header   {
  font-family: 'Ubuntu';
  text-align: center;
  font-size: 40px;
  color:  #314249;
}

.intro  {

text-align: center;
color: #314249;

}


#start  {

  background-color: #47C0B3;
  border: none;
  color: #F3EEEF;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
  transition-duration: 0.4s;
  font-family: 'Ubuntu';
}


#start:hover {
  background-color: #314249; 
  color: #F3EEEF;
  cursor: pointer;
}

#start:active {
  background-color: #314249;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#one {
  display: inline-block;
  padding: 8px 16px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #F3EEEF;
  background-color: #47C0B3;
  border: none;
  border-radius: 15px;
  
}

#one:hover {background-color: #7BA398}

#one:active {
  background-color: #7BA398;
  
  transform: translateY(4px);
}


#two {
  display: inline-block;
  padding: 8px 16px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #F3EEEF;
  background-color: #47C0B3;
  border: none;
  border-radius: 15px;
  
}

#two:hover {background-color: #7BA398}

#two:active {
  background-color: #7BA398;
  
  transform: translateY(4px);
}

#myNum {


  color: #314249;
  font-size: 25px;
}


li {

  list-style-type: none;
  text-align: center;
  color: #314249;
  font-size: 25px;
}